@background: #2B303B;

@gray-2: #343D46;
@gray-3: #4F5B66;
@gray-4: #65737E;
@foreground: #C0C5CE;
@white-1: #DFE1E8;
@white-2: #EFF1F5;
@red: #BF616A;
@orange: #D08770;
@yellow: #EBCB8B;
@green: #A3BE8C;
@cyan: #96B5B4;
@blue: #8FA1B3;
@pink: #B48EAD;
@purple: #A091C8;
@brown: #AB7967;


@white--pure: #ffffff;
@white: HSL(41, 100%, 94%);

@gold: hsl(59, 54%, 67%);

@slateGray: hsl(221, 16%, 20%);
@chatelle: hsl(285, 5%, 70%);

@pink: hsl(349, 21%, 73%);

@scorpion: hsl(352, 5%, 40%);
@scorpion--dark-2: hsl(349, 7%, 44%);
@scorpion--dark-3: hsl(349, 7%, 29%);

@orange: hsl(39, 30%, 46%);

@blue: hsl(203, 30%, 50%);

@blue--light-2: hsl(220, 20%, 80%);

@green: hsl(163, 30%, 39%);

@yellow: hsl(55, 30%, 60%);

@red: hsl(0, 30%, 66%);
