@gray-2: #343D46;
@gray-3: #4F5B66;
@gray-4: #65737E;

@white-1: #DFE1E8;
@white-2: #EFF1F5;
@red: #BF616A;
@orange: #D08770;
@brown: #AB7967;


@white--pure: #ffffff;

@grain: #dfd0af;

@gold: hsl(41, 47%, 62%);

@slateGray: hsl(221, 16%, 20%);

@tuna: #343346;

@chatelle: hsl(285, 5%, 70%);

@pink: #fbaea7;

@hotpink: #e072a9;

@scorpion: hsl(352, 5%, 40%);
@scorpion--dark-2: hsl(349, 7%, 44%);
@scorpion--dark-3: hsl(349, 7%, 29%);

@orange: #ffd657;

@blue: #76caff;

@green: hsl(163, 75%, 40%);

@yellow: hsl(55, 70%, 59%);

@red: #d67383;

@purple: #ca7ee4;

@cyan: #56ded1;

@hazel: #d0d49d;
