@import 'colors';

// Base
@background-color: @slateGray;
@syntax-background-color: @background-color;

@foreground-color: @white;
@foreground: @foreground-color;
@syntax-text-color: @foreground-color;

@foreground-color--dim-1: mix(@background-color, @foreground-color, 90%);
@foreground-color--dimer-1: mix(@background-color, @foreground-color, 95%);
@foreground-color--dim-2: mix(@background-color, @foreground-color, 80%);
@foreground-color--dimer-2: mix(@background-color, @foreground-color, 85%);
@foreground-color--dim-3: mix(@background-color, @foreground-color, 70%);
@foreground-color--dimer-3: mix(@background-color, @foreground-color, 75%);


// General colors
@text-color: @foreground-color;
@cursor-color: @text-color;
@selection-color: mix(@white, @background-color, 10%);


// Guide
@wrap-guide-color: mix(@foreground-color, @background-color, 5%);
@indent-guide-color: mix(@foreground, @wrap-guide-color, 8%);
@invisible-character-color: @wrap-guide-color;
@bracket-matcher-border-color: @purple;


// For find and replace markers
@find-result-border-color: @foreground-color--dim-1;
@find-result-border-color-selected: @cyan;


// Gutter
@gutter-text-color: @foreground-color--dim-1;
@gutter-text-color-selected: @pink;
@gutter-background-color: @background-color;
@gutter-background-color-selected: mix(@foreground-color, @gutter-background-color, 10%);

// For git info. i.e. in the gutter
@color-added: @green;
@color-modified: @yellow;
@color-removed: @red;
@color-renamed: @blue;


// // Syntax

// Comments
@syntax-comment-color: @foreground-color--dim-2;
@syntax-comment-font-style: italic;

// Keywords
@syntax-keyword-color: @purple;
@syntax-keyword-font-style: italic;


// Variables
@syntax-variable-color: @cyan;

// Function
@syntax-function-color: @syntax-variable-color;
@syntax-parameters-color: mix(white, @blue, 30%);

// Objects
@syntax-property-color: @hotpink;
@syntax-method-color: @blue;
@syntax-method-font-weight: bold;
@syntax-method-font-style: normal;


// Strings
@syntax-string-color: @red;


// Booleans
@syntax-boolean-color: @green;
@syntax-boolean-font-weight: normal;
@syntax-boolean-font-style: italic;


// Booleans
@syntax-null-color: @red;
@syntax-null-font-weight: normal;
@syntax-null-font-style: italic;


// Classes
@syntax-class-color: @yellow;


// Numbers
@syntax-number-color: @cyan;
